.inactive{
    opacity: 0.3;
}

.containerFilters{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerInputCheckbox{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.containerInputCheckbox span{
    padding-right: 10px;
    font-size: 0.75rem;
}

.inputCheckbox {
    cursor: pointer;
}

