.card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.2);
}

.cardContent{
    display: flex;
    padding: 0%;
    margin-top: 0px;
    gap: 0;
}

.titleBalance{
    text-align: end;
    font-size: 14px;
}

.labels{
    margin: 8px 10px 8px 10px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon{
    width: 1.5rem;
}

.numberCard{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.cardName{
    color: #888;
    font-weight: bold;
    font-size: 14px;
    /* font-weight: 600; */
}

.textBalance{
    text-align: center;
    font-size: 14px;
}