.salesForm{
    display: flex;
    gap: 1rem;
    height: 100%;
    box-sizing: border-box;
}

.salesForm .column1, .salesForm .column2{
    width: 35%;
}

.salesForm .column3{
    width: 30%;
}

.salesForm .column1{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.salesForm .column1 .left{
    display: flex;
    flex-direction: column;
    width: calc(40% - 0.5rem);
    justify-content: space-between;
}

.salesForm .column1 .right{
    display: flex;
    flex-direction: column;
    width: calc(60% - 0.5rem);
    
    justify-content: space-between;
}

.salesForm .column1 .right .clientInput{
    display: flex;
    justify-content: end;
}

.salesForm .column1 .right .soldAt{
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

.column3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column3 .subtotal, .column3 .discount, .column3 .total{
    display: flex;
}

.column3 .left, .column3 .right{
    width: 50%;
}

.column3 .left{
    text-align: left;
}

.column3 .right{
    text-align: right;
}