.container {
    padding: 10px;
}

.containerTitle {
    padding: 1em;
    border-bottom: 1px solid #ececec;
}

.title {
    font-size: 25px;
    font-weight: 700;
    margin: auto 0px;
    color: #e4b61a;
}

.containerTable {
    padding: 1em;
    /* overflow-x: auto;  */
    /* Para manejar tablas anchas */
}

.containerTable table {
    width: 100%; 
    border-collapse: collapse;
}

.containerTable th, .containerTable td {
    border: 1px solid #ddd; /* Borde delgado gris */
    padding: 6px; /* Espaciado interno */
    /* text-align: left; */
}

.dataNumber {
    text-align: center;
}

.containerTable th {
    background-color: #ffffff; /* Color de fondo para las celdas de encabezado */
    color: #333; /* Color del texto de encabezado */
}

.containerTable tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo para filas pares */
}

.containerTable tbody tr:hover {
    background-color: #dddddd52; /* Color de fondo al pasar el mouse */
}

.buttonDate{
    border: none;
    background-color: #ffffff;
    padding: 3px;
}

.buttonDate:hover {
    background-color: #dddddd52; 
}

.containerTable th .thOrderClient {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerTable th .spanOrderClient {
    margin-left: 5px; 
    /* margin-right: 5px;  */
    /* Ajusta el margen entre "Orden" y el input */
}

/* .containerTable th .orderInput { */
    /* flex: 1;  */
    /* El input ocupa todo el espacio restante */
    /* text-align: right;  */
    /* Alinea el texto del input a la derecha */
    /* margin-left: 10px;  */
    /* Ajusta el margen izquierdo del input */
/* } */

