.card{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 3px;
    border: var(--border-dark);
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.cardContent{
    display: flex;
    padding: 0%;
    margin-top: 0px;
    gap: 0;
}

.titleBalance{
    display: flex;
    justify-content:space-between;
    font-size: 14px;
}

.containerYear{
    overflow: hidden;
}

.selectYear {
    -webkit-appearance: none; /* Elimina el estilo predeterminado del navegador */
    -moz-appearance: none;
    appearance: none;
    border: none;
}

.labels{
    margin: 8px 10px 8px 10px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon{
    width: 1.5rem;
}

.numberCard{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.cardName{
    color: #888;
    font-weight: bold;
    font-size: 14px;
    /* font-weight: 600; */
}

.textBalance{
    text-align: center;
    font-size: 14px;
}