.card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.2);
}

.cardContent{
    display: flex;
}

.titleBalance{
    text-align: end;
}

.labels{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.numberCard{
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
}

.cardName{
    color: #888;
    font-weight: bold;
    /* font-weight: 600; */
}

.textBalance{
    text-align: center;
}