.containerCheckbox{
    display: flex;
    align-items: center;
    width: 35%;
    margin: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}

.containerInputCheckbox{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 6.6rem;
}

.inputCheckbox {
    margin-left: 0px !important;
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
    appearance: none;
    border: 2px solid #e4b61a;
    border-radius: 3px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 16px; /* Tamaño del ✔ */
}

.inputCheckbox:checked::before {
    content: "✔";
    color: #333;
    font-size: 16px;
    line-height: 1;
}

.inputCheckbox:disabled{
    cursor: not-allowed;
}

.spanCheckbox{
    padding-left: 0.2rem;
    font-size: 0.8rem;
}

.labelInput {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.labelInput .left{
    width: 12%;
}

.labelInput .right{
    width: 23%;
}

.inputPorcentage{
    width: 98%;
    height: 25px;
    font-size: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.containerButtonSubmit{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitButton{
    width: 100%;
}