.productForm{
    display: flex;
}

.column1{
    /* background-color: rgb(81, 255, 0); */
    width: 60%;
}

.column2{
    /* background-color: red; */
    width: 40%;
}

/* ----------------- NOMBRE ----------------- */

.nameTitle{
    margin-right: 5px;
}

.inputName{
    border: 1px solid #aaaaaa;
    border-radius: 3px;
}

/* ----------------- OTROS GRAL ----------------- */

.detailProduct{
    display: flex;
}

.list{
    border-bottom: 1px solid #d4d4d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spanList{
    font-size: 0.75rem;
    margin: 5px;
    padding: 5px;
}

.buttonAdd {
    background: none;
    color: #e4b61a;
    font-weight: bold;
}

.buttonDelete{
    background: none;
    border: none;
    padding: 0;
}

.buttonDelete img{
    width: 10px;
    height: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
}

/* ----------------- COLOR ----------------- */

.colorContainer{
    margin-top: 15px;
    margin-right: 15px;
    width: 26%;
}

.colorCard{
    margin-top: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
}

.inputAddColor{
    margin-left: 5px;
    border: none;
    justify-content: space-between;
    align-items: center;    
    width: 75%;
}

.inputAddColor input{
    width: 100%;
}

.inputAddColor::placeholder {
    font-style: italic; 
}

.inputAddColor:focus {
    outline: none; 
}

.inputColorName{
    margin-left: 5px;
    border: none;
    width: 6rem;
    width: 75%;
}

/* ----------------- TALLE ----------------- */

.sizeContainer{
    margin-top: 15px;
    margin-right: 15px;
    width: 17%;
}

.sizeCard{
    margin-top: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
}

.inputAddSize{
    margin-left: 5px;
    border: none;
    width: 6rem;
    justify-content: space-between;
    align-items: center;    
    width: 62%;
}

.inputAddSize input{
    width: 100%;
}

.inputAddSize::placeholder {
    font-style: italic; 
}

.inputAddSize:focus {
    outline: none; 
}

.inputsizeName{
    margin-left: 5px;
    border: none;
    width: 6rem;
    width: 75%;
}

/* ----------------- MEDIDAS ----------------- */

.measurementContainer{
    margin-top: 15px;
    margin-right: 15px;
    width: 40%; 
}

.measurementCard{
    margin-top: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
}

.inputsMeasurement{
    margin: 5px;
    justify-content: space-between;
}

.inputslabels{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputslabels input{
    width: 40%;
    border: 1px solid #b9b8b8;
    border-radius: 3px;
}

.labelsMeasurement{
    font-size: small;
    margin-right: 5px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.buttonAddMeasurement{
    width: 25%;
    margin-left: 90px;
}

/* ----------------- STOCK ----------------- */

.stockContainer{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 95%;
}

.stockCard{
    margin-top: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
}

.inputsinMed{
    width: 5%;
    margin-left: 1px;
    margin-right: 5px;
    border: none;
}
.inputsinMed::-webkit-inner-spin-button,
.inputsinMed::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.spansinMed{
    font-size: 0.75rem;
}

.inputsinStock{
    width: 10%;
    margin-right: 10px;
}

/* ----------------- PROVEEDOR ----------------- */

.supplierContainer{
    margin-top: 10px;
    display:grid;
}

.supplierTitle{
    margin-bottom: 15px;
}

.dataSupplierContainer{
    margin-bottom: 15px;
}
/* ----------------- IMAGEN ----------------- */

.imageContainer{
    width: 100%;
    margin-bottom: 15px;
}

.title{
    display: flex;
    align-items: center;
}

.butonImage{
    background: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.addImage{
    display: flex;
    height: 25%;
    width: 25%;
}

.imageComponent{
    margin-top: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
}

.imgProduct{
    margin: 10px;
    width: 20%;
    height: 20%;
}

/* ----------------- CATEGORÍA ----------------- */

.categoryContainer{
    margin-bottom: 15px;
}

.selectCategory{
    width: 50%;
}

/* ----------------- PRECIO ----------------- */

.priceContainer{
    margin-bottom: 15px;
}

/* ----------------- DESCRIPCION ----------------- */

.descriptionContainer{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.descriptionContainer textarea{
    width: 100%;
    padding: 3px;
}